---
const props = Astro.props;
import { Picture } from "@astrojs/image/components";
import { getPicture } from "@astrojs/image";
const route = props.name
  .normalize("NFD")
  .replace(/[\u0300-\u036f]/g, "")
  .toLowerCase()
  .split(" ")
  .join("-");
const file = `../images/equipo/${route}.png`;
const fallback = "/images/equipo/tv-static.png";
---

<div
  id={route}
  class="py-8 first:pt-16 last:pb-16 md:py-12 px-4 md:pl-0 md:pr-20 max-w-lg flex items-center justify-center"
>
  <div class="shrink-0">
    <Picture
      src={file}
      class="rounded-full border-[1.5px] border-black"
      alt={props.name}
      widths={[90, 120, 150]}
      sizes="(max-width: 500px) 90px, (max-width: 800px) 120px, 150px"
      aspectRatio="1:1"
      fit="contain"
      format="png"
    />
  </div>
  <div class="ml-4">
    <p
      class="font-sans text-base uppercase font-bold italic tracking-wider leading-[1.2]"
    >
      {props.name}
    </p>
    <p class="mt-2 leading-tight">{props.description}</p>
  </div>
</div>
