---
import BaseLayout from "./BaseLayout.astro";
import HeadingLayout from "./HeadingLayout.astro";
import "../styles/global.css";
import GoToTop from "../components/GoToTop.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout url={frontmatter.url} pageTitle={frontmatter.titulo}>
  <div>
    <HeadingLayout
      title={frontmatter.titulo}
      subtitle={frontmatter.subtitulo}
      author={frontmatter.autoria}
      tags={frontmatter.tags}
      image={frontmatter.imagen?.archivo}
      description={frontmatter.imagen?.descripcion}
      theme={"light"}
      size={"short"}
    />
    <div class="bg-white">
      <div class="pb-12 md:pt-6 mx-auto">
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>
