---
import BaseLayout from "./BaseLayout.astro";
import HeadingLayout from "./HeadingLayout.astro";
import "../styles/global.css";
const { frontmatter } = Astro.props;
import "swiper/css/bundle";
import GoToTop from "../components/GoToTop.astro";
---

<BaseLayout url={frontmatter.url} pageTitle={frontmatter.titulo}>
  <div>
    <HeadingLayout
      title={frontmatter.titulo}
      subtitle={frontmatter.subtitulo}
      author={frontmatter.autoria}
      tags={frontmatter.tags}
      image={frontmatter.imagen?.archivo}
      theme={"dark"}
      size={"full"}
    />
    <div class="py-8 bg-black">
      <div class="h-screen bg-black flex items-center">
        <div class="swiper">
          <div class="swiper-wrapper">
            <slot />
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <!-- <div class="swiper-pagination"></div> -->
        </div>
      </div>
    </div>
  </div>
  <GoToTop bg="bg-black" />
</BaseLayout>
<style>
  .swiper {
    aspect-ratio: 16 / 9;
  }
  .swiper-pagination {
    @apply mt-4 text-white font-sans text-lg font-bold;
  }
</style>
<script>
  import createSwiper from "../scripts/swiper.js";
  const swiper = createSwiper(".swiper");
</script>
