---
import BaseLayout from "./BaseLayout.astro";
import ArticleLayout from "./ArticleLayout.astro";
import HeadingLayout from "./HeadingLayout.astro";
import "../styles/global.css";
const { frontmatter } = Astro.props;
---

<BaseLayout url={frontmatter.url} pageTitle={frontmatter.titulo}>
  <div>
    <HeadingLayout
      title={frontmatter.titulo}
      subtitle={frontmatter.subtitulo}
      author={frontmatter.autoria}
      tags={frontmatter.tags}
      image={frontmatter.imagen?.archivo}
      description={frontmatter.imagen?.descripcion}
      theme={"dark"}
      size={"full"}
    />
    <div class="bg-gradient-to-b from-pink to-white h-36 w-full"></div>
    <ArticleLayout>
      <slot />
    </ArticleLayout>
  </div>
</BaseLayout>
