---
import BaseLayout from "./BaseLayout.astro";
import HeadingLayout from "./HeadingLayout.astro";
import "../styles/global.css";
import GoToTop from "../components/GoToTop.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout url={frontmatter.url} pageTitle={frontmatter.titulo}>
  <div class="">
    <HeadingLayout
      title={frontmatter.titulo}
      subtitle={frontmatter.subtitulo}
      tags={frontmatter.tags}
      author={frontmatter.autoria}
      image={frontmatter.imagen?.archivo}
      description={frontmatter.imagen?.descripcion}
      theme={"dark"}
      size={"short"}
    />
    <div class="bg-black">
      <div class="pb-12 mx-auto">
        <slot />
      </div>
    </div>
  </div>
  <GoToTop bg="bg-black" />
</BaseLayout>
