---
import BaseLayout from "./BaseLayout.astro";
import HeadingLayout from "./HeadingLayout.astro";
import "../styles/global.css";
import GoToTop from "../components/GoToTop.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout url={frontmatter.url} pageTitle={frontmatter.titulo}>
  <div>
    <HeadingLayout
      title={frontmatter.titulo}
      subtitle={frontmatter.subtitulo}
      author={frontmatter.autoria}
      tags={frontmatter.tags}
      image={frontmatter.imagen?.archivo}
      theme={"dark"}
      size={"short"}
    />
    <div class="h-screen bg-black">
      <iframe
        width="100%"
        height="100%"
        src={frontmatter.link}
        title={frontmatter.titulo}
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <slot />
    </div>
  </div>
  <GoToTop bg="bg-black" />
</BaseLayout>
